body {
  font-family: 'Nunito Sans';
  margin: auto;
}

.countryGrid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px;
}

.searchBarSpan {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}